name: Destroy AWS Infrastructure with Terraform

on:  
  workflow_dispatch:  # Manual trigger only

permissions:
  id-token: write
  contents: read

env:  
  AWS_REGION: "us-east-1"
    
jobs:
  destroy:
    name: Destroy Infrastructure
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set environment variable for ROLE_ARN using secrets
      - name: Set ROLE_ARN
        run: |
          echo "ROLE_ARN=arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_ROLE_NAME }}" >> $GITHUB_ENV

      # Step 3: Configure AWS credentials using OIDC
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          audience: sts.amazonaws.com

      # Step 4: Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.11.0

      # Step 5: Initialize Terraform
      - name: Terraform Init
        run: terraform init

      # Step 6: Destroy Terraform-managed infrastructure
      - name: Terraform Destroy
        run: terraform destroy -auto-approve
